.B-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  padding-top: 0;
}

.B-heading {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 750;
  font-size: 2.5rem;
  letter-spacing: 1px;
  border-bottom: 5px solid #239ce2;
}

.B-heading span{
  color: #239ce2;
}

.B-toolbar {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.B-colors {
  display: flex;
  gap: 20px;
  padding: 0 30px;
  border: 2px solid rgb(166, 166, 166);
  border-radius: 0px 7px 20px 20px;
  padding: 15px;
}

.B-colors:hover{
  box-shadow: 0 2px 8px rgb(118, 118, 118);
  transition: 500ms ease;
}

.B-colors .B-color {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #239ce2;
  cursor: pointer;
}

.B-color:hover{
  transform: translateY(2px);
  transition: 400ms ease;
}

.B-colors .B-active {
  border: 1.5px solid black;
}
.B-toolbar button {
  padding: 8px 12px;
  border-radius: 7px;
  background-color: #239ce2;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 1px;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.B-toolbar button svg {
  height: 25px;
  width: 20px;
}

.B-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.B-activeColor{
  display: none;
}