.H-container{
    padding: 50px 30px;
    text-align: center;
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    background-color: rgb(238, 252, 255);
    min-height: 85vh;
    height: 100vh;
}

.H-heading{
    margin-top: 150px;
    max-width: 500px;
    color: black;
    line-height: 4.1rem;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.H-heading span {
    background-clip: text;
    background-image: linear-gradient(to right, #239ce2, #1369b9);
    color: transparent;
}

.H-right img{
    margin-top: 150px;
    width: 500px;
}